<%= render 'initial-screen' %>

<div id="map" style="width: 100%; height: 100vh;">
</div>

<%= render 'legend' %>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>
    $(document).ready(function() {
       mapHandler = Gmaps.build('Google');
       var middle = <%= @hash.length / 2 %>
       mapHandler.buildMap({ provider: {
       center: new google.maps.LatLng(<%= raw @hash.to_json %>[middle].lat, <%= raw @hash.to_json %>[middle].lng),
       zoom: 10,
         }, internal: {id: 'map'}
       }, function(){
         var markersData = <%= raw @hash.to_json %>;
         updateMarkers(mapHandler, markersData);
       });
      });
  <% end %>
<% end %>
